@import url('https://fonts.googleapis.com/css2?family=Borel&family=Poppins:wght@600&family=Roboto:wght@300;400;700;900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}
.logo img{
    width: 164px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Segoe UI";
}
.right ul{
    display: flex;
    gap: 34px;
}
.right ul li{
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.right ul li span{
    padding: 0 5px;
}
.head-img{
    width: 82px;
    margin: 0 23px;
}
.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
    margin: 70px;
}
.first span{
    font-size: 40px;
}
.bold{
    font-weight: bolder;
}
.first p{
    font-size: 23px;
    width: 60vw;
    text-align: center;
}
.btn{
    background: #00b6d1;
    padding: 14px 16px;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin: 12px 0;
    cursor: pointer;
}
.btn a{
    text-decoration: none;
    color: white;
}
.green{
    background-color: #5cb85c;
}
.flex{
    display: flex;
}
.second{
    max-width: 70vw;
    margin: auto;
}
.small{
    font-size: 12px;
}
.grid .item{
    padding: 23px;
    background: #f9f9f9;
    border-radius: 12px;
    border-radius: 20px;
    text-align: center;
}
.grid .item p{
    font-size: 12px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: -7px;
    padding-bottom: 15px;
}
.item-lang{
    font-weight: 700;
    text-align: center;
    padding-bottom: 4px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}
.download :nth-child(2){
    font-size: 23px;
}
.download{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: sans-serif;
}
.download img{
    padding: 0px 12px;
}
@media screen and (max-width: 1145px){
    .grid{
        background: red;
        display: grid;
        grid-template-columns: 1fr;
        gap: 12px;
    }
}